<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <title>Registro de cursos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        h1 {
            color: olive;
        }

        body {
            background-color: beige;
        }
    </style>
    <body>
    <center>
        <form action="#" th:action="@{/postCurso}" th:object="${curso}" method="post">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <h1 align="center"><i>Registrar curso</i></h1>
                        <div class="form-group">
                            <label for="exampleInputnombre">NOMBRE DEL CURSO</label>
                            <input type="text" class="form-control" id="nombrecurso" aria-describedby="name" placeholder="Nombre del curso..." th:field="*{name}">
                            <small id="nombrehelp" class="form-text text-muted"></small>
                        </div>
                    </div> 

                    <div class="col-lg-12">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="exampleInputapellido">DESCRIPCION DEL CURSO</label>
                                <input type="text" class="form-control" id="exampleInputapellido" aria-describedby="description" placeholder="Descripción del curso..." th:field="*{description}">
                                <small id="nombrehelp" class="form-text text-muted"></small>
                            </div>
                            
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <button type="submit" class="btn btn-info">CREAR</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </center>
</body>
</html>
