<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            h1 {
                color: olive;
            }

            body {
                background-color: beige;
            }
        </style>
    <body>
        <h1 align="center"><i>Registrar estudiante</i></h1>
    <center>
        <form>
            
        </form>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">

                        <div class="form-group">
                            <label for="exampleInputnombre">NOMBRE</label>
                            <input type="text" class="form-control" id="exampleInputnombre" aria-describedby="nombre" placeholder="Enter nombre">
                            <small id="nombrehelp" class="form-text text-muted"></small>
                        </div>

                    </div> 
                    <div class="col-lg-3">

                        <div class="form-group">
                            <label for="exampleInputapellido">APELLIDO</label>
                            <input type="text" class="form-control" id="exampleInputapellido" aria-describedby="apellido" placeholder="Enter apellido">
                            <small id="nombrehelp" class="form-text text-muted"></small>
                        </div>

                    </div> 
                    <div class="col-lg-3">

                        <div class="form-group">
                            <label for="exampleInputEmail1">EMAIL ADDRESS</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>

                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">

                            <div class="form-group">
                                <label for="exampleInputnombre">FECHA DE CUMPLEAÑOS</label>
                                <input type="text" class="form-control" id="exampleInputcumpleaños" aria-describedby="cumpleaños" placeholder="Enter cumpleaños">
                                <small id="cumpleañoshelp" class="form-text text-muted"></small>
                            </div>

                        </div> 
                        <div class="col-lg-3">

                            <div class="form-group">
                                <label for="exampleInputapellido">ID ESTUDIANTE</label>
                                <input type="text" class="form-control" id="exampleInputid" aria-describedby="id estudiante" placeholder="Enter ID estudiante">
                                <small id="idestudiantehelp" class="form-text text-muted"></small>
                            </div>

                        </div> 
                        <div class="col-lg-3">

                            <div class="form-group">
                                <label for="exampleInputtelefono1">TELEFONO1</label>
                                <input type="txt" class="form-control" id="exampleInputtelefono1" aria-describedby="TELEFONO1" placeholder="Enter telefono1">
                                <small id="telefono1Help" class="form-text text-muted"></small>
                            </div>

                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3">

                                    <div class="form-group">
                                        <label for="exampleInputtelefono">TELEFONO2</label>
                                        <input type="text" class="form-control" id="exampleInputtelefono2" aria-describedby="telefono2" placeholder="Enter telefono2">
                                        <small id="telefono2help" class="form-text text-muted"></small>
                                    </div>

                                </div> 
                                <div class="col-lg-3">

                                    <div class="form-group">
                                        <label for="exampleInputlledireccion1">DIRECCION1</label>
                                        <input type="text" class="form-control" id="exampleInputlledireccion1" aria-describedby="DIRECCION1" placeholder="Enter  direccion1">
                                        <small id="direccion1help" class="form-text text-muted"></small>
                                    </div>

                                </div> 
                                <div class="col-lg-3">

                                    <div class="form-group">
                                        <label for="exampleInputtedireccion2">DIRECCION2</label>
                                        <input type="txt" class="form-control" id="exampleInputtedireccion2" aria-describedby="DIRECCION2" placeholder="Enter direccion2">
                                        <small id="direccion2Help" class="form-text text-muted"></small>
                                    </div>

                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <button type="button" class="btn btn-info">ENTER</button>
                                        </div>
                                        </form>

                                        </center>

                                        </body>
                                        </head>

                                        </html>
                                        <!-- end document-->