<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Menú Principal</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            h1 {
                color: black;
            }

            body {
                background-color: beige;
            }
        </style>
    </head>


    <body class="cotainer-fluid">
        <div>
            <div class ="row">
                <h1 align="center"><i>Análisis de Sistemas II - Equipo #2</i></h1>
                <div class="col-lg-3">
                    <h2>Registrar Curso</h2>
                    <a class="btn btn-primary" href="/getCurso">Nuevo +</a>
                </div>
                <div class="col-md-3">
                    <h2>Importar Cursos</h2>
                    <form method="POST" action="/CargaCursos" enctype="multipart/form-data">
                        <input type="file" name="file" /><br/><br/>
                        <input class="btn btn-primary" type="submit" value="Importar" />
                    </form>
                </div>
                <div class="col-lg-3">
                    <h2>Registrar Estudiante</h2>
                    <a class="btn btn-primary" href="/getEstudiante">Nuevo +</a>
                </div>
                <div class="col-md-3">
                    <h2>Importar Estudiantes</h2>
                    <form method="POST" action="/CargaEstudiantes" enctype="multipart/form-data">
                        <input type="file" name="file" /><br/><br/>
                        <input class="btn btn-primary" type="submit" value="Importar" />
                    </form>
                </div>
            </div>
        </div>    
    </body>
</html>
